<!DOCTYPE html>
<html lang="en-US" ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <meta name="description" content="Valley Hackathon is a locals only hackathon designed to show local employers that there are high quality programmers right here in the valley.">
    <title ng-bind-template="{{pageTitle}}"></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 header">
          <h1>Valley Hackathon</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div id="menu" class="col-md-12">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Sponsors</li>
            <li>Signup</li>
          </ul>
        </div>
      </div>
    </div>
    <div ui-view="" class="container whiteContainer"></div>
  </body>
</html>