{% include 'header.html' %}
  <div col="row">
    <div col="col-md-12">

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">What Is A Hackathon?</span></h2></div>
      <p class="basic_text"><img class="img-thumbnail pull-left" src="/img/hackathon.jpg">A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects<super><a href="http://en.wikipedia.org/wiki/Hackathon">*</a></super>.  Hacking here does not refer to any illegal or socially negative activity, instead it refers to fast and skillful programming.<br><br><br><br></p>

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">What is the Valley Hackathon?</span></h2></div>
      <p class="basic_text"><img title="Required: cute cat image." class="img-thumbnail pull-right" src="/img/sleeping.jpg">The Valley Hackathon is a 24 hour programming contest where the teams complete to produce what the judges determine to be the best software project.  Our judges will all be representatives from local technology companies.  Cash prizes will be awarded to the top three teams.<br><br>Sleeping bags and pillows are encouraged as this is a no break Hackathon.  So be warned, you don't want to end up like milky here...  Get your team together and sign up today.<br><br></p>

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Rules</span></h2></div>
      <ul>
        <li>These rules are subject to change up to the beginning of the event.  The final rules will be given during the check in period.</li>
        <li>Projects cannot be started before the hackathon begins. All design, code, assets, etc., must be created during the event. (Except, of course, third party tools, frameworks, APIs, etc.) </li>
        <li>Projects may be planned on paper before the hackathon begins.</li>
        <li>Projects must involve writing software, but hardware-focused projects are fine (e.g., porting Swift to the Raspberry Pi) </li>
        <li>Teams will be made up of 1 to 4 members.
          <ul>
            <li>Team members must be residents of the following counties: Stanislaus, Merced, San Joaquin, Tuolumne, Mariposa or Calaveras.</li>
            <li>If the team has at least three members, one team member may live outside the listed counties.</li>
          </ul>
        </li>
        <li>Teams will have five minutes to present their finished project to a panel of judges.</li>
        <li>Prizes will be awarded to teams based solely on the judgement of the judging panel.</li>
        <li>The judging panel will be made up of representatives from sponsoring companies as well as other qualified local people.</li>
        <li>At least one team member must be physically present at the hackathon during the sign in period and at least one team member must be conscious and present to present the project to the judges during the presentation period.</li>
        <li>All IP developed during the hackathon will belong to the team that developed it.</li>
      </ul>

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Schedule</span></h2></div>
      <p>The dates are going to be a Friday and Saturday in January but we have not been able to set them in stone yet.  Check back in a day or two and we will have this finalized.</p>
      <ul>
        <li>5:30pm Friday Jan 23. Check in, rules, safety briefing.</li>
        <li>6:30pm Friday Jan 23. Hackathon begins.</li>
        <li>7:00pm Friday Jan 23. Pizza (Provided by GeoStrategies)</li>
        <li>7:00pm Friday Jan 23. Surprise!</li>
        <li>6:00am Saturday Jan 24. Breakfast (Provided by DataBoost)</li>
        <li>Noon Saturday Jan 24. Lunch (Provided by GeoStrategies)</li>
        <li>2:00pm Saturday Jan 24. Surprise!</li>
        <li>5:00pm Saturday Jan 24. Dinner (Provided by A Sponsor)</li>
        <li>6:30pm Saturday Jan 24.  Hackathon Ends.</li>
        <li>6:45pm-8:00pm Saturday Jan 24.  Presentations, Judging, and Prizes</li>
      </ul>

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Location</span></h2></div>
      <p class="regular-text">The event will be held at the offices of GeoStrategies in Downtown Turlock.  They are located at 200 North Broadway, Turlock, CA.  <a href="https://www.google.com/maps/place/200+N+Broadway+Ave,+Turlock,+CA+95380/@37.4936495,-120.8486134,19z/data=!3m1!4b1!4m2!3m1!1s0x8091064adf78f311:0xfe6df07156437c26">Map Here.</a></p>
    </div>
  </div>

{% include 'footer.html' %}