    </div>
    <div class="container-fluid" id="footerContainer">
      <div class="row">
        <div class="col-md-12 footText">
          <em>&copy; Inventaweb.net 2014</em>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/packages/woothemes-FlexSlider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/scripts/page.js"></script>
  </body>
  <!-- Current revision: {{current_hash}} -->
</html>