{% include 'header.html' %}
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="/img/SanFrancisco.jpg" />
      </li>
      <li>
        <img src="/img/NewYork.jpg" />
      </li>
      <li>
        <img src="/img/Mumbai.jpg" />
      </li>
      <li>
        <img src="/img/Turlock.jpg" />
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Valley Hackathon</span></h2></div>
      <p class="welcome_text">There are serious programmers living in the Central Valley and serious employers too.  Let's do this thing.</p>
      <p class="small_front">Follow us <a href="https://twitter.com/ValleyHackathon">@ValleyHackathon</a> for the latest updates.</p>
      <p class="small_front">Join us at <a href="irc://irc.freenode.net/#ValleyHackathon">#ValleyHackathon on freenode</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Sponsors</span></h2></div>
    </div>
  </div>

  <div class="row sponsorRow">
  {% for s in sponsors if s.Level %}
    {% if loop.index0 % 3 ==0 and loop.index0 > 0 %}
  </div>
  <div class="row sponsorRow">
    {% endif %}
    <div class="col-md-4">
      <a href="http://{{s.URL}}">
        <img src="img/{{s.Logo}}" alt="{{s.Name}}" class="maxWidth sponsorLogo">
        <h3>{{s.Name}}</h3>
      </a>
      <p><em>{{s.Description}}</em></p>
    </div>
  {% endfor %}
  </div>
{% include 'footer.html' %}