{% include 'header.html' %}
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Main Prizes</span></h2></div>
      <p>Prizes will be distributed evenly among the members of winning teams.</p>
      <h3 class="center3">First Prize - $1000</h3>
      <h3 class="center3">Second Prize - $500</h3>
      <h3 class="center3">Third Prize - $250</h3>
      <br/ >
      <br/ >
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">RethinkDB Prize</span></h2></div>
      <p>Our platinum sponsor RethinkDB is funding a prize for placing teams (top 3) who use the Rethink Database in their hack.  There will be a talk on the Rethink Database at a special meeting of the Oakdale GDG meetup group on Wednesday, January 14.  This should get us all ready to use the product at the event.  For more details click <a href='http://www.meetup.com/GDG-Oakdale/events/219317732/'>Here</a>.  </p>
      <h3 class="center3">An additional $1000 will be distributed among any placing teams that use RethinkDB in their project.</h3>
      <br/ >
      <br/ >
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Innovation Lab Prize</span></h2></div>
      <p>The Innovation Lab is offering memberships at their maker lab in Sonora.</p>
      <h3 class="center3">Details coming soon.</h3>
      <br/ >
      <br/ >
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Mystery Event</span></h2></div>
      <p>There will be a sideline, non-programming event.  Your fate will be decided by a popular vote of all hackathon participants.</p>
      <h3 class="center3">Mystery Event First Prize - $50/team member on the winning team.</h3>
    </div>
  </div>
{% include 'footer.html' %}