{% include 'header.html' %}
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Signup</span></h2></div>
      <h3 class="text-danger">Signups are currently closed, if more space becomes available we will open up more spots</h3>
      <p class="basic_text">Space for this event is limited and we are taking teams on a first come first served basis.  We have six office rooms in one office space we will be using for the event.  Each room can easily handle a four man team.  One and two man teams will be placed two to a room.  We have two kitchen areas and a bathroom down the hall.  Should be comfortable surroundings.  We are not going to be implementing an online signup this year so you will be registering your team by calling Ben at 209-402-5462.</p>
    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Teams</span></h2></div>
    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Team Name / Project Type</th>
            <th>Team Members</th>
            <th>Counties Represented</th>
            <th>Project Link</th>
          </tr>
        </thead>
        <tbody>
        {% for t in teams %}
          <tr>
            <td>{{t.Name}}<br>{{t.Frameworks}}</td>
            <td>{{t.Members|raw}}</td>
            <td>{{t.County|raw}}</td>
            <td>{% if t.URL %}<a href="http://{{t.URL}}">{% if t.ProjectPic %}<img class="projectImage" src="/img/project/{{t.ProjectPic}}">{% else %}{{t.Name}}{% endif %}</a>{% else %}Coming Soon{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Individuals</span></h2></div>
    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Project Type</th>
            <th>County Represented</th>
            <th>Project Link</th>
          </tr>
        </thead>
        <tbody>
        {% for t in individuals %}
          <tr>
            <td>{{t.Name}}</td>
            <td>{{t.Frameworks}}</td>
            <td>{{t.County|raw}}</td>
            <td>{% if t.URL %}<a href="http://{{t.URL}}">{% if t.ProjectPic %}<img class="projectImage" src="/img/project/{{t.ProjectPic}}">{% else %}{{t.Name}}{% endif %}</a>{% else %}Coming Soon{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% include 'footer.html' %}