{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Sponsors</span>
          </h2>
      </div>
    </div>
  </div>

{% set level='' %}
{% for sponsor in sponsors if sponsor.Level %}
  {% if sponsor.Level != level %}
    {% set level=sponsor.Level %}
  <div class="row">
    <div class="col-md-12"><h2 class="level">{{sponsor.Level}}s</h2></div>
  </div>
  {% endif %}
  <div class="row sponsor">
    <div class="col-md-3">
      <a href="http://{{sponsor.URL}}">
        <img src="img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth" />
      </a>
    </div>
    <div class="col-md-3">
      {{sponsor.Description}}
    </div>
    <div class="col-md-6">
      {{sponsor.Text}}
    </div>
  </div>
{% endfor %}

  <div class="row">
    <div class="col-md-12">
      <div id="interested" class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Interested in Sponsoring?</span>
        </h2>
      </div>
      <p class="basic_text">All judges will be introduced at the welcome event and if the sponsor is offering a prize then the judge will be able to define the parameters for winning the prize.</p>
      <p> For example, a prize could go to the most creative design from a certain county, the best use of mapping technology, or to the contestant or team the judge feels is most worthy of their prize.</p>
    </div>
  </div>
  <div class="row sponsorLevels">
    {% for tier in sponsorship %}
    <div class="col-sm-3 col-md-3">
      <div class="well">
        <h2 class="{{tier.Name}} hX">{{tier.Name}}</h2>
        <hr>
        <h3 class="b{{tier.Name}} bX">{{tier.Commitment|raw}}</h3>
        <hr />
        <ul class="sponsorList">
          <li><i class="fa fa-microphone"></i>&nbsp;Welcome event intro: {{tier.Introduction|raw}}</li>
          <li><i class="fa fa-smile-o"></i>&nbsp;Your name and Logo on all our printed materials (Banner, maybe T-Shirts, fliers, etc.)</li>
          <li><i class="fa fa-cloud"></i>&nbsp;Your logo, tagline, and a fun description on our sponsors page and your logo and tagline on our home page.  Both of your listings will have links to your website.</li>
          {% if tier.Surprize %}
          <li><i class="fa fa-star"></i>&nbsp;Surprize: {{tier.Surprize|raw}}</li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="basic_text">If you are interested in sponsoring this event contact Ben at <a href="tel:+12094025462">209-402-5462</a></p>
    </div>
  </div>
{% include 'footer.html' %}