{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Sponsors</span></h2></div>
    </div>
  </div>

{% set level='' %}
{% for sponsor in sponsors %}
  {% if sponsor.Level != level %}
    {% set level=sponsor.Level %}
  <div class="row">
    <div class="col-md-12"><h2 class="level">{{sponsor.Level}}s</h2></div>
  </div>
  {% endif %}
  <div class="row sponsor">
    <div class="col-md-3">
      <a href="http://{{sponsor.URL}}">
        <img src="img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth">
      </a>
    </div>
    <div class="col-md-3">
      {{sponsor.Description}}
    </div>
    <div class="col-md-6">
      {{sponsor.Text}}
    </div>
  </div>
{% endfor %}

  <div class="row">
    <div class="col-md-12">
      <div id="interested" class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Interested in Sponsoring?</span></h2></div>
      <p class="basic_text">All sponsors will have the opportunity to appoint at least one judge who will have some access to the contestants during the contest.  All judges will be introduced at the welcome event and if the sponsor is offering a prize then the judge will be able to define the parameters for winning the prize.</p>
      <p>  For example, a prize could go to the most creative design from a certain county, the best use of mapping technology, or to the contestant or team the judge feels is most worthy of their prize.  For general prizes, each judge will have 10 points to distribute among the various teams in the contest.  The teams with the most points will win the cash prizes.</p>
    </div>
  </div>
  <div class="row sponsorLevels">
    {% for tier in sponsorship %}
    <div class="col-sm-3 col-md-3">
      <div class="well">
        <h2 class="{{tier.Name}} hX">{{tier.Name}}</h2>
        <hr>
        <h3 class="b{{tier.Name}} bX">{{tier.Commitment|raw}}</h3>
        <hr />
        <ul class="sponsorList">
          <li><i class="fa fa-gavel"></i>&nbsp;Judges: {{tier.Judges}}</li>
          <li><i class="fa fa-clock-o"></i>&nbsp;Access: {{tier.Access|raw}}</li>
          <li><i class="fa fa-microphone"></i>&nbsp;Welcome event intro: {{tier.Introduction|raw}}</li>
          {% if tier.Surprize %}
          <li><i class="fa fa-star"></i>&nbsp;Surprize: {{tier.Surprize|raw}}</li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="basic_text">If you are interested in sponsoring this event contact Ben at <a href="tel:+12094025462">209-402-5462</a></p>
    </div>
  </div>
{% include 'footer.html' %}

<!--
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Level</th>
            <th>Commitment</th>
            <th>Judges</th>
            <th>Surprize</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bronze</td>
            <td>$250</td>
            <td>One with access on Friday 5pm-8pm and Saturday 5pm to the end.</td>
            <td></td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>$500<br>-or-<br>$250 + prize worth more then $250</td>
            <td>One with access on Friday 5pm-8pm and Saturday 5pm to the end.</td>
            <td></td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>$500 + prize worth more then $500</td>
            <td>One with access for the entire contest.</td>
            <td></td>
          </tr>
          <tr>
            <td>Platinum</td>
            <td>$1000 + prize worth more then $1000</td>
            <td>One or two with access for the entire contest.</td>
            <td>Sponsor either our Friday night or Saturday afternoon surprise and thrill the contestants with your generosity.</td>
          </tr>
        </tbody>
      </table>
-->
