{% include 'header.html' %}
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Teams</span></h2></div>
    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <p>Don't be put off by the current teams.  There is some awesome technology listed here but we are looking for teams to do cool projects in WordPress/PHP too!  <strong>We are also looking for individuals to sign up who will be able to form teams or join existing teams on the day of the event.</strong>  We want lots of folks at the event so sign up, come, and have fun!</p>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Team Name / Project Type</th>
            <th>Team Members</th>
            <th>Counties Represented</th>
            <th>Project Link</th>
          </tr>
        </thead>
        <tbody>
        {% for t in teams %}
          <tr>
            <td>{{t.Name}}<br>{{t.Frameworks}}</td>
            <td>{{t.Members|raw}}</td>
            <td>{{t.County|raw}}</td>
            <td>{% if t.URL %}<a href="http://{{t.URL}}">{% if t.ProjectPic %}<img class="projectImage" src="/img/project/{{t.ProjectPic}}">{% else %}{{t.Name}}{% endif %}</a>{% else %}Coming Soon{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div col="row">
    <div col="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Individuals</span></h2></div>
      We currently have three individuals signed up for the event.  Skill sets below.  Please contact Ben at GeoStrategies if you would like to be in contact with either person.
      <ul>
        <li>Ruby-on-Rails</li>
        <li>Java, Angular.js, MySQL</li>
        <li>PHP, MySQL, Objective-C</li>
      </ul>
    </div>
  </div>
{% set form=1 %}
{% include 'footer.html' %}