{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">

      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">What Is A Hackathon?</span>
        </h2>
      </div>
      <p class="basic_text">
        <img class="img-thumbnail pull-left" src="/img/hackathon.jpg" />
        A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects.<sup><a href="http://en.wikipedia.org/wiki/Hackathon">[source]</a></sup> Hacking here does not refer to any illegal or socially negative activity, instead it refers to fast and skillful programming.
        <br/ >
        <br/ >
        <br/ >
        <br/ >
      </p>

      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">What is the Valley Hackathon?</span>
        </h1>
      </div>
      <p class="basic_text">
        <img title="Required: cute cat image." class="img-thumbnail pull-right" src="/img/sleeping.jpg" />
        The Valley Hackathon is a 24 hour programming contest where the teams complete to produce what the judges determine to be the best software project. Our judges will all be representatives from technology focused and other companies. Cash prizes will be awarded to the top three teams.
      </p>
      <p>Sleeping bags and pillows are encouraged as this is a no break hackathon. So be warned, you don't want to end up like Milky the cat over there... Get your team together and sign up today.</p>
      <br><br>
      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Rules</span>
        </h2>
      </div>
      <h5 class="text-warning"><i><b>These rules are subject to change. The final rules will be given during the check in period on the day of the event.</i></b></h5>

      <h4><i><b>Projects:</b></i></h4>
      <ul>
        <li>Projects <b>may not</b> be started before the hackathon begins. All design, code, assets, etc., must be created during the event. <i>(except third party tools, frameworks, APIs, etc.)</i> </li>
        <li>Projects may be planned before the hackathon begins.</li>
        <li>Projects must involve writing software, but hardware-focused projects are fine <i>(e.g., porting Swift to the Raspberry Pi)</i> </li>
      </ul>
      <h4><i><b>Teams Rules:</b></i></h4>
      <ul>
        <li>Teams may consist of 1 to 4 members and must be residents of the following counties:
            <ul>
              <li>Stanislaus</li>
              <li>Merced</li>
              <li>San Joaquin</li>
              <li>Tuolumne</li>
              <li>Mariposa</li>
              <li>Calaveras</li>
              <li>Madera</li>
              <li>Fresno</li>
            </ul>
            <li>If a team has a minimum of three members, one team member may live outside the listed counties.</li>
        </li>
        <li>Teams will be given five minutes to present their finished project to a panel of judges.</li>
        <li>Prizes will be awarded to teams based solely on the decision of the judging panel.</li>
      </ul>
      <h4><i><b>Other:</b></i></h4>
      <ul>
        <li>The judging panel will be comprised of representatives from sponsoring companies, as well as other qualified local people.</li>
        <li>At least one team member must be physically present at the hackathon during the sign in period and at least one team member must be conscious and present to present the project to the judges during the presentation period.</li>
        <li>All intellectual property developed during the hackathon will belong to the team that developed it.</li>
        <li>Also check out our <a href="signup#CodeOfConduct">Code of Conduct</a> for more details</li>
      </ul>

      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">2015 Schedule</span></h2></div>
      <table class="schedule">
        <tr><th colspan="2">Friday Jan 23.</th></tr>
        <tr>
          <td>5:30pm </td><td>Check in, rules, safety briefing</td>
        </tr>
        <tr>
          <td>6:30pm</td><td>Hackathon begins</td>
        </tr>
        <tr>
          <td>7:00pm</td><td>Pizza</td>
        </tr>
        <tr>
          <td>8:00pm</td><td>Mystery Event Begins!</td>
        </tr>
        <tr>
          <td>9:00pm</td><td>Energy drink and snack stash arrives.</td>
        </tr>
        <tr><th colspan="2">Saturday Jan 24.</th></tr>
        <tr>
          <td>6:00am </td><td>Continental Breakfast</td>
        </tr>
        <tr>
          <td>9:00am</td><td>Surprise!</td>
        </tr>
        <tr>
          <td>11:00am</td><td>Surprise!</td>
        </tr>
        <tr>
          <td>12:00pm</td><td>Lunch in Downtown Turlock</td>
        </tr>
        <tr>
          <td>5:00pm</td><td>Pizza</td>
        </tr>
        <tr>
          <td>6:30pm</td><td>Hackathon Ends</td>
        </tr>
        <tr>
          <td>6:45pm</td><td>Presentations, Judging, and Prizes</td>
        </tr>
        <tr>
          <td>8:00pm</td><td>Event Ends!</td>
        </tr>
      </table>

      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Location</span>
        </h2>
      </div>
      <p class="regular-text">The event will be held in the dance studio downstairs from the offices of GeoStrategies in Downtown Turlock. They are located at 200 North Broadway, Turlock, CA. Click <a href="https://goo.gl/maps/UxdDV" target="_blank">here to get directions.</a></p>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d791.4012196631014!2d-120.84861339999999!3d37.4936495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091064adf78f311%3A0xfe6df07156437c26!2s200+N+Broadway+Ave%2C+Turlock%2C+CA+95380!5e0!3m2!1sen!2sus!4v1416946383517" frameborder="0"></iframe>
    </div>
  </div>
{% include 'footer.html' %}