    </div>
    <div class="container-fluid" id="footerContainer">
      <div class="row">
        <div class="col-md-12 footText">
          <em>&copy; Inventaweb.net 2014</em>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/packages/jQuery-Validation-Engine-master/js/languages/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="/packages/jQuery-Validation-Engine-master/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/packages/woothemes-FlexSlider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/scripts/page.js"></script>
    {% if form %}
    <script language="javascript" type="text/javascript">
    (function($) {
    	$(function() {
        $("#teamSignup").validationEngine();
    	});
    })(jQuery);
    </script>
    {% endif %}

  </body>
  <!-- Current revision: {{current_hash}} -->
</html>