{% include 'header.html' %}
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="/img/2015/2015-2.JPG" alt="Valley Hackathon 2015 Image 2" />
      </li>
      <li>
        <img src="/img/2015/2015-3.JPG" alt="Valley Hackathon 2015 Image 3" />
      </li>
      <li>
        <img src="/img/2015/2015-4.JPG" alt="Valley Hackathon 2015 Image 4" />
      </li>
      <li>
        <img src="/img/2015/2015-5.JPG" alt="Valley Hackathon 2015 Image 5" />
      </li>
      <li>
        <img src="/img/2015/2015-6.JPG" alt="Valley Hackathon 2015 Image 6" />
      </li>
      <li>
        <img src="/img/2015/2015-7.JPG" alt="Valley Hackathon 2015 Image 7" />
      </li>
      <li>
        <img src="/img/2015/2015-8.JPG" alt="Valley Hackathon 2015 Image 8" />
      </li>
      <li>
        <img src="/img/2015/2015-9.JPG" alt="Valley Hackathon 2015 Image 9" />
      </li>
      <li>
        <img src="/img/2015/2015-10.JPG" alt="Valley Hackathon 2015 Image 10" />
      </li>
      <li>
        <img src="/img/2015/2016.JPG" alt="Valley Hackathon 2016" />
      </li>
      <li>
        <img src="/img/2015/2015-1.JPG" alt="Valley Hackathon 2015 Image 1" />
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small"><h1 class="heading_supersize"><span class="heading_center_bg">Valley Hackathon</span></h1></div>
      <p class="welcome_text">There are serious programmers living in the Central Valley and serious employers too.  Let's do this thing.</p>
      <p class="small_front">Follow us <a href="https://twitter.com/ValleyHackathon">@ValleyHackathon</a> for the latest updates.</p>
      <p class="small_front">Join us at <a href="irc://irc.freenode.net/#ValleyHackathon">#ValleyHackathon on freenode</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">2015 Event Sponsors</span></h2></div>
    </div>
  </div>

  <div class="row sponsorRow">
  {% for s in sponsors if s.Level %}
    {% if loop.index0 % 3 ==0 and loop.index0 > 0 %}
  </div>
  <div class="row sponsorRow">
    {% endif %}
    <div class="col-md-4">
      <a href="{{s.URL}}">
        <img src="img/{{s.Logo}}" alt="{{s.Name}}" class="maxWidth sponsorLogo">
        <h3>{{s.Name}}</h3>
      </a>
      <p><em>{{s.Description}}</em></p>
    </div>
  {% endfor %}
  </div>
{% include 'footer.html' %}