{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Judges</span>
          </h2>
      </div>
    </div>
  </div>

{% set level='' %}
{% for judge in judges %}
  <div class="row judge">
    <div class="col-md-3">
      <img src="img/{{judge.picture}}" alt="{{judge.Name}}" class="maxWidth img-circle" />
    </div>
    <div class="col-md-5">
      <h2>{{judge.Name}}</h2>
      <br>
      {% set sponsor = sponsors[judge.sponsorID] %}
      <a href="http://{{sponsor.URL}}">
        <img src="img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth" />
      </a>
    </div>
    <div class="col-md-4 judgeBio">
      {{judge.Bio}}
    </div>
  </div>
{% endfor %}

  <div class="row judge">
    <div class="col-md-12">
      <h2>More judges will be announced soon.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="interested" class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span id="judgingCriteria" class="heading_center_bg">Judging Criteria</span>
        </h2>
      </div>
      <p class="basic_text">Each judge will be grading the hacks on the following scale.</p>
      <ul>
        <li>Completeness - 1 to 5 points
          <ul>
            <li>Does it seem to be bug-free, or were there obvious problems during the presentation?</li>
            <li>Did the team show you everything their app could do, or were they selling you vaporware?</li>
          </ul>
        </li>
        <li>Technical Difficulty - 1 to 5 points
          <ul>
            <li>Was there a particular challenge the team had to overcome?</li>
            <li>Did you know this was even possible?</li>
            <li>Were you surprised they would attempt something so ambitious, or was this something any highschooler could do on a weekend?</li>
          </ul>
        </li>
        <li>Originality - 1 to 5
          <ul>
            <li>Does this hack break new ground, or is it simply parroting an existing product?</li>
            <li>Did you learn something new by watching the presentation?</li>
            <li>If it’s based on an existing product, does it improve its predecessor in some meaningful way?</li>
          </ul>
        </li>
        <li>Pure Awesomeness - <b>1 to 15</b> points
          <ul>
            <li>Is it beautiful?</li>
            <li>Did your jaw drop?</li>
            <li>Did you laugh?</li>
            <li>Do you wish this were your idea?</li>
            <li>Was it your favorite?</li>
            <li>Do you think this team should win?</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="basic_text">If you are interested in judging this event contact Ben at <a href="tel:+12094025462">209-402-5462</a></p>
    </div>
  </div>
{% include 'footer.html' %}