{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">

      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">What is the Mini-Hack?</span>
        </h2>
      </div>
      <p class="basic_text">
      <img class="img-thumbnail pull-left" src="/img/hackathon.jpg" />
        A Mini-Hack is a shorter and generally less intense form of a hackathon.  In this case we are going to holding the event for 12 hours with 10 or so hours of programming and a couple of hours for setup and presentations.  Where a full hackathon generally has judges, prizes, and a lot of sponsors.  This hackathon is going to have a very few dedicated sponsors no judges and no prizes.  Just a day to come out and hack.  Food, drink, and internet will be provided.</p>
      <p>Something different about this hack compared to the Valley Hackathon is that we are going to have some pre-defined problems for you to work on.  You don't have to do them, but they will provide easy targets for those who don't want to plan something larger.  Since we are in the valley we are going to target some agriculture related projects.</p>
      <p>Really this is just a day for the community to get together and hack together.  So come on out bring your laptop and have fun.</p>
      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">When is the Mini-Hack?</span>
        </h2>
      </div>
      <h3>May 30, 2015 from 7am to 7pm</h3>
      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Signup</span>
        </h2>
      </div>
      <p>Coming Soon...</p>
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">2015 Mini-Hack Schedule</span></h2></div>
      <table class="schedule">
        <tr><th colspan="2">Saturday May 30, 2015</th></tr>
        <tr>
          <td>7:00am </td><td>Check in, rules, safety briefing, continental breakfast</td>
        </tr>
        <tr>
          <td>7:30am</td><td>Hackathon begins</td>
        </tr>
        <tr>
          <td>10:00am</td><td>Snacks arrive</td>
        </tr>
        <tr>
          <td>12:00pm</td><td>Pizza arrives</td>
        </tr>
        <tr>
          <td>5:30pm</td><td>Hack ends</td>
        </tr>
        <tr>
          <td>5:45pm-7:00pm</td><td>Presentations</td>
        </tr>
      </table>

      <div class="heading_dots hide-for-small">
        <h2 class="heading_supersize">
          <span class="heading_center_bg">Location</span>
        </h2>
      </div>
      <p class="regular-text">The event will be held in Small Business Development Center (Alliance SBDC) offices in downtown Modesto.  1020 10th St #102, Modesto, CA 95354.</p>
    </div>
  </div>
{% include 'footer.html' %}