{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">Main Prizes</span>
        </h1>
      </div>
      <p>The main event prizes will be awarded to the teams that have the highest total point scores from our panel of judges.  For more detail <a href="judges#judgingCriteria"> click here to see the judging criteria.</a>  Prize money will be distributed evenly among the members of the winning teams.  We are not yet far enough along in our planning and work to define our exact prize amounts, but they should be at least as good at our <a href="/prizes/2015">2015 prizes.</a></p>
      <h3 class="center3">First Prize - $TBD</h3>
      <h3 class="center3">Second Prize - $TBD</h3>
      <h3 class="center3">Third Prize - $TBD</h3>
      <br/ >
      <br/ >
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Mystery Event</span></h2></div>
      <p>There will be a sideline, non-programming event sponsored by a platinum sponsor yet to be named.  Your fate will be decided by a popular vote of all hackathon participants.</p>
      <h3 class="center3">Mystery Event First Prize - $50/team member on the winning team.</h3>
    </div>
  </div>
{% include 'footer.html' %}