{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">Signup</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>Fill out the form below to sign up for the Hackathon.  <strong>Individual signups are welcome!  We will not put you on the team page but you may form teams with other individuals on the day of the event.</strong>  After you submit this form you will be contacted by Ben from GeoStrategies to confirm the details and finalize your place in the event.</p>
      {% if flash.error %}
      <div class="alert alert-danger" role="alert">{{flash.error}}</div>
      {% endif %}
      <form class="form-horizontal" role="form" id="teamSignup" method="post" action="register">
        <div class="form-group">
          <label for="inputName" class="col-sm-3 control-label">Name<br><small class="text-danger">Required</small></label>
          <div class="col-sm-9">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Your Name" value="{{flash.formData.name}}" data-validation-engine="validate[required]"
                                data-errormessage-value-missing="Name is required!">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="col-sm-3 control-label">Phone<br><small class="text-danger">Required</small></label>
          <div class="col-sm-9">
            <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Phone" value="{{flash.formData.phone}}" data-validation-engine="validate[required,custom[phone]]"
                                data-errormessage-value-missing="Phone is required!"
                                data-errormessage-custom-error="Let me give you a hint: 209-555-1212">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-3 control-label">Email<br><small class="text-danger">Required</small></label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" value="{{flash.formData.email}}" data-validation-engine="validate[required,custom[email]]"
                                data-errormessage-value-missing="Email is required!"
                                data-errormessage-custom-error="Let me give you a hint: someone@nowhere.com">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTeam2" class="col-sm-3 control-label">Member 2</label>
          <div class="col-sm-9">
            <input type="text" name="team2" class="form-control" id="inputTeam2" placeholder="Team Member 2 Name" value="{{flash.formData.team2}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTeam3" class="col-sm-3 control-label">Member 3</label>
          <div class="col-sm-9">
            <input type="text" name="team3" class="form-control" id="inputTeam3" placeholder="Team Member 3 Name" value="{{flash.formData.team3}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTeam4" class="col-sm-3 control-label">Member 4</label>
          <div class="col-sm-9">
            <input type="text" name="team4" class="form-control" id="inputTeam4" placeholder="Team Member 4 Name" value="{{flash.formData.team4}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTeamName" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" name="teamName" class="form-control" id="inputTeamName" placeholder="Team Name" value="{{flash.formData.teamName}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTech" class="col-sm-3 control-label">Technologies</label>
          <div class="col-sm-9">
            <input type="text" name="tech" class="form-control" id="inputTech" placeholder="ex. Node.js, Angular.js, .Net, Laravel, Slim, etc." value="{{flash.formData.tech}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Counties<br><small>What Counties are your team members from?</small></label>
          <div class="col-sm-4">
            <div class="checkbox">
              <label>
                <input name="SanJoaquin" type="checkbox" value="1"{% if flash.formData.SanJoaquin %} checked="checked"{% endif %}>
                San Joaquin
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Stanislaus" type="checkbox" value="1"{% if flash.formData.Stanislaus %} checked="checked"{% endif %}>
                Stanislaus
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Merced" type="checkbox" value="1"{% if flash.formData.Merced %} checked="checked"{% endif %}>
                Merced
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Madera" type="checkbox" value="1"{% if flash.formData.Madera %} checked="checked"{% endif %}>
                Madera
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="checkbox">
              <label>
                <input name="Calaveras" type="checkbox" value="1"{% if flash.formData.Calaveras %} checked="checked"{% endif %}>
                Calaveras
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Tuolumne" type="checkbox" value="1"{% if flash.formData.Tuolumne %} checked="checked"{% endif %}>
                Tuolumne
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Mariposa" type="checkbox" value="1"{% if flash.formData.Mariposa %} checked="checked"{% endif %}>
                Mariposa
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="Fresno" type="checkbox" value="1"{% if flash.formData.Fresno %} checked="checked"{% endif %}>
                Fresno
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Prove you are a human</label>
          <div class="col-sm-9">
            {{captcha|raw}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">&nbsp;</label>
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <p class="text-danger">Update (as of 01/8/2015)</p>
      <p>Please check the code of conduct at the bottom of this page.</p>
      <p class="text-danger">Update (as of 12/17/2014)</p>
      <p>Individuals are encouraged to sign up using the form to the left.  Please add the technologies you are comfortable in when you do.  Individuals can form teams or join teams on the day of the event.  No one will be left out.</p>
      <p class="text-danger">Update (as of 11/26/2014)</p>
      <p>We now have online signups!</p>
      <p class="text-danger">Update (as of 11/25/2014)</p>
      <p>We have acquired larger facilities, so signups are now limited to 15 teams.</p>
      <p class="basic_text"><strike>Space for this event is limited and we are taking teams on a first come first served basis.  We have six office rooms in one office space we will be using for the event.  Each room can easily handle a four man team.</strike></p>
      <p><strike>We do not have online signup this year, so please register your team by calling Ben at <a href="tel:+12094025462">209-402-5462</a></strike></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="CodeOfConduct" class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Code of Conduct</span></h2></div>
      <ol>
        <li>Treat all other hackers with utmost respect. Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and racist, sexist, or exclusionary jokes are not appropriate for this event. If at any point you see a fellow hacker being harassed, it’s your responsibility to talk to the nearest hackathon organizer.</li>
        <li>Treat our sponsors with the utmost respect. Without them, nothing would be possible. Take some time out of your work to go meet and speak with them. If they come over to talk to you, look up from your work and give them a bit of your time. They're here for you! Show them you appreciate it.</li>
        <li>Teams can be anywhere from one to four members. All teams retain full ownership of what they have created during the Valley Hackathon.</li>
        <li>The hackathon is a walled garden. To ensure a level playing field for all contestants, all code, design, art, music, SFX, and assets must be created during the duration of the hackathon. We want to ensure that all participants start off on the same footing and we also want to preserve the true nature of a hackathon. You are, however, free to make plans, create wireframes, and brainstorm prior to the event.</li>
        <li>The only exception to the previous rule would include material that is freely available to the public. Some examples of this would be: public domain images, Creative Commons music, open source libraries, existing APIs and platforms, and the like. Failure to comply may result in the offending team's disqualification.<br>TL;DR:<br>Bring your blueprints, build at the hackathon. It’s the only way we can compare hacks on a level playing field and fairly award prizes. It’s also what lets you say “I built this at a hackathon."</li>
        <li>Have fun. Hackathons are amazing, and so are you. We’re so happy you’re able to hack with us and be a part of our amazing community.</li>
        <li>Open your mind. Hacking unites people from across the world from different cultural norms, nationalities, and backgrounds. Be prepared not only to learn something new from your hack, but also from the amazing people around you. Be mindful of the fact that certain content and actions can make the people around you uncomfortable. If your hack contains material that might cross that boundary, talk to a member of the organizing team for a second or third opinion. We'll let you know if you should consider rethinking your hack.</li>
        <li>Be the change you want to see in your local community. Never be afraid of competing based on where you come from or have preconceptions of grandeur because you come from a great school. At any time one can achieve greatness. You simply have to see it and seize it.</li>
<br>
All participants will be asked to sign a copy of this code before beginning the hackathon.<br>
      <a href="https://mhacks-iv.challengepost.com/rules" target="_blank">Original Source for this code of conduct here.</a>
    </div>
  </div>

{% set form=1 %}
{% include 'footer.html' %}