{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">Sponsors</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    {% set level='' %}
    {% for sponsor in sponsors if sponsor.Level %}
      {% if sponsor.Level != level %}
        {% set level=sponsor.Level %}
      <div class="row">
        <div class="col-md-12"><h2 class="level">{{sponsor.Level}}s</h2></div>
      </div>
      {% endif %}
      <div class="row sponsor">
        <div class="col-md-3">
          <a href="{{sponsor.URL}}">
            <img src="img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth" />
          </a>
        </div>
        <div class="col-md-4">
          {{sponsor.Description|raw}}
        </div>
        <div class="col-md-5">
          {{sponsor.Text|raw}}
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>Interested in Sponsoring?</h2>
      <p class="basic_text">We are were looking for our sponsors to come from a mix of local companies that are interested in technology and in meeting some of the best programmers, graphic artists, and other technical folk that the valley has to offer.  The Valley Hackathon is seeking to incubate new ventures and support existing ones by creating a focal point in the valley for technologists and business to converge.</p>
      <p class="basic_text">All sponsors will have their logo and tagline on the Valley Hackathon website along with a link to their website.  Logos from companies will be used on published literature and banners.  Each sponsor will also be introduced at the welcome event and if the sponsor (at the Gold level or above) is offering a special prize then the sponsor will be able to define the parameters for winning the prize to the contestants.</p>
      <p> For example, a prize could go to the most creative design from a certain county, the best use of mapping technology, or simply to the contestant or team a judge feels is most worthy of their prize.</p>
      <p class="basic_text">See below for sponsorship level details.</p>
    </div>
  </div>
  <div class="row sponsorLevels">
    {% for tier in sponsorship %}
    <div class="col-sm-3 col-md-3">
      <div class="well">
        <h2 class="{{tier.Name}} hX">{{tier.Name}}</h2>
        <hr>
        <h3 class="b{{tier.Name}} bX">{{tier.Commitment|raw}}</h3>
        <hr />
        <ul class="sponsorList">
          <li><i class="fa fa-microphone"></i>&nbsp;Welcome event intro: {{tier.Introduction|raw}}</li>
          <li><i class="fa fa-smile-o"></i>&nbsp;Your name and Logo on our printed materials (Banners, fliers, etc.)</li>
          <li><i class="fa fa-cloud"></i>&nbsp;Your logo, tagline, and a fun description on our sponsors page and your logo and tagline on our home page.  Both of your listings will have links to your website.</li>
          {% if tier.Surprize %}
          <li><i class="fa fa-star"></i>&nbsp;Surprize: {{tier.Surprize|raw}}</li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="basic_text">If you are interested in sponsoring this event contact Ben at <a href="tel:+12094025462">209-402-5462</a></p>
    </div>
  </div>
{% include 'footer.html' %}