{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">2015 Sponsors</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    {% set level='' %}
    {% for sponsor in sponsors if sponsor.Level %}
      {% if sponsor.Level != level %}
        {% set level=sponsor.Level %}
      <div class="row">
        <div class="col-md-12"><h2 class="level">{{sponsor.Level}}s</h2></div>
      </div>
      {% endif %}
      <div class="row sponsor">
        <div class="col-md-3">
          <a href="{{sponsor.URL}}">
            <img src="../img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth" />
          </a>
        </div>
        <div class="col-md-4">
          {{sponsor.Description|raw}}
        </div>
        <div class="col-md-5">
          {{sponsor.Text|raw}}
        </div>
      </div>
    {% endfor %}
      <div class="heading_dots hide-for-small"><h2 class="heading_supersize"><span class="heading_center_bg">Mentors</span></h2></div>
      <p>The guys from Stickman ventures (including a Google Expert on Wearables) will be at the event to assist teams and mentor contestents.</p>
      {% set sponsor = sponsors[92] %}
      <div class="row sponsor">
        <div class="col-md-3">
          <a href="http://{{sponsor.URL}}">
            <img src="../img/{{sponsor.Logo}}" alt="{{sponsor.Name}}" class="maxWidth" />
          </a>
        </div>
        <div class="col-md-4">
          {{sponsor.Description|raw}}
        </div>
        <div class="col-md-5">
          {{sponsor.Text|raw}}
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <h2>We love our sponsors!</h2>
      <p class="basic_text">We had a great mix of sponsors for the 2015 event and want to honor each of them for their contribution.  Rethink DB was incredible as a sponsor, legos, extra prize money, what was not to love about them?</p>
      <p class="basic_text">See below for 2015 sponsorship level details.</p>
    </div>
  </div>
  <div class="row sponsorLevels">
    {% for tier in sponsorship %}
    <div class="col-sm-3 col-md-3">
      <div class="well">
        <h2 class="{{tier.Name}} hX">{{tier.Name}}</h2>
        <hr>
        <h3 class="b{{tier.Name}} bX">{{tier.Commitment|raw}}</h3>
        <hr />
        <ul class="sponsorList">
          <li><i class="fa fa-microphone"></i>&nbsp;Welcome event intro: {{tier.Introduction|raw}}</li>
          <li><i class="fa fa-smile-o"></i>&nbsp;Your name and Logo on our printed materials (Banners, fliers, etc.)</li>
          <li><i class="fa fa-cloud"></i>&nbsp;Your logo, tagline, and a fun description on our sponsors page and your logo and tagline on our home page.  Both of your listings will have links to your website.</li>
          {% if tier.Surprize %}
          <li><i class="fa fa-star"></i>&nbsp;Surprize: {{tier.Surprize|raw}}</li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="basic_text">If you are interested in sponsoring this event contact Ben at <a href="tel:+12094025462">209-402-5462</a></p>
    </div>
  </div>
{% include 'footer.html' %}