{% include 'header.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="heading_dots hide-for-small">
        <h1 class="heading_supersize">
          <span class="heading_center_bg">Teams</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Signups are not yet open for the 2016 Valley Hackathon.  However check out our rapidly updating page for our <a href="teams/2015">2015 teams and projects.</a></p>
    </div>
  </div>
{% set form=1 %}
{% include 'footer.html' %}